<div class="post-container">
  <div class="header">
  <span class="author">
    <%= post.user.email %>
  </span>
  <span class="time">
    <%= post.created_at %>
  </span>

  <%= link_to "Delete Post", post, method: :delete, remote: true if current_user == post.user %>
  </div>
  <div class="body">
    <%= post.content %>
  </div>
  <div class="add-comment">
    <%= form_with model: Comment.new, url: post_comments_path(post.id) do |f| %>

    <%= f.text_area :content, placeholder: "Add Comment" %>
    <%= f.submit "Comment!" %>
    <% end %>
    </div>
  <div class="comments-container" id="comments-<%= post.id %>">
    <%= render post.comments %>
    </div>
</div>
