<div class="post-container">
  <div class="header">
  <span class="author">
    <%= post.user.email %>
  </span>
  <span class="time">
    <%= post.created_at %>
  </span>

  <%= link_to "Delete Post", post, method: :delete, remote: true if current_user == post.user %>
  </div>
  <div class="body">
    <%= post.content %>
  </div>
  <div class="add-comment">
    </div>
  <div class="comments-container">
    <%= render post.comments %>
    </div>
</div>
