<div id="header">
  <ul class="nav">
    <% unless current_user.nil? %>
    <li>
      <%= link_to "Feed", root_url %>
    </li>
    <li>
      <%= current_user.email %>
    </li>
    <li>
      <%= link_to "User Profile", current_user %>
    </li>
    <li>
      <% requests_string = pluralize(current_user.pending_requests.pending.count, 'new request') %>
      <%= link_to "Friends (#{requests_string})", friends_path(current_user), id: "friend_requests" %>
    </li>
    <li>
      <%= link_to "Find Friends", users_path %>
      </li>
    <li>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  </ul>
  <% end %>
</div>
